.form-container{
  width: 500px;
  height: 600px;
  margin: 20px auto;
  border: 1px solid #95A0A7;
  border-radius: 8px;
  padding: 35px;
}

.form-title{
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.0025em;
  color: #2A414F;
  text-align: center;
}
.control{
  margin-bottom: 20px;
}
.control label{
  display: block;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  color: #2A414F;
  margin-bottom: 10px;
}
.control input{
  width: 415px;
  height: 55px;
  border: 1px solid #95A0A7;
  border-radius: 5px;
  font-size: 1.5em;
  padding-left: 10px;
}
.btn-submit{
  width: 415px;
  height: 55px;
  background-color: rgb(168, 91, 77);
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.0015em;
}
.btn-submit:hover{
  background-color: rgb(224, 89, 65);
}